<footer class='footer'>
  <h1 style='margin:0'>footer</h1>
</footer>

<style>
  .footer {
    display: flex;
    max-width: 1000px;
    width: calc(100% - 3rem);
    margin: 1rem auto 2rem auto;
    gap: 0.5rem;
    background-color: rgba(150, 150, 150, 0.2);
    padding: 1rem;
  }
</style>
