---
import Darkmode from '@components/standard/Darkmode-wrapper.astro';
import AllHotkeys from '@components/standard/Hotkeys';
import TitleOnLeave from '@components/standard/TitleOnLeave.astro';
import HideUiOnScroll from '@components/standard/HideUiOnScroll.astro';
import Nav from '@components/standard/Nav.astro';
import Footer from '@components/standard/Footer.astro';
import Cultures from '@components/standard/Cultures.astro';
import BreadCrumbs from '@components/standard/BreadCrumbs.astro';
import SEO from '@components/standard/SEO.astro';

const { navProps, cultures, seoProps } = Astro.props;
---

<html lang='en'>
  <head>
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <title>Astro</title>
    <SEO {...seoProps} />
    <style is:global>
      html {
        font-family: system-ui;
        display: grid;
      }
      body {
        margin: 0;
        position: relative;
        display: grid;
        grid-template-rows: auto 1fr auto;
      }
      html,
      body {
        min-height: 100%;
      }
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      html[data-theme='dark'] {
        background-color: #000;
        color: #fff;
      }
      a:hover {
        opacity: 0.8;
      }
      .container {
        max-width: 1000px;
        width: calc(100% - 3rem);
        margin-left: auto;
        margin-right: auto;
      }
      .header {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
      }
    </style>
  </head>
  <body>
    <AllHotkeys client:load />
    <TitleOnLeave titleOnLeave=':(' />
    <HideUiOnScroll />
    <Darkmode />
    <header class='container header'>
      <Nav {...navProps} />
      <BreadCrumbs />
      <Cultures {cultures} />
    </header>
    <main style='min-height:100%;display:grid;place-content:center;'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
